body {
  background-color: var(--secondaryColor);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 999;
}


.show__header__shrink {
  padding: 15px 0;
  box-shadow: 0px 0px 10px var(--hoverColor);
  background: var(--secondaryColor);
}

.header__nav__logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--primaryColor);
}



.header__nav__right__btns__contact {
  padding: 8px 33px;
  border: 2px solid var(--primaryColor);
  background-color: var(--primaryColor);
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  transition: 0.9s;
  color: var(--secondaryColor);
}

.header__nav__right__btns__contact:hover {
  border-color: var(--primaryColor);
  background: var(--secondaryColor);
  color: var(--primaryColor);
}

.header__nav__right__btns__hamburger {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;

}

.header__nav__right__btns__hamburger span {
  width: 20px;
  height: 2px;
  background: var(--primaryColor);
  border-radius: 2px;
  transition: 0.4s;
}

.header__nav__right__btns__hamburger:hover .header__nav__right__btns__hamburger__line {
  background: var(--hoverColor);
}

.header__nav__right__btns__dark-mode {
  border: none;
  background: transparent;
  color: var(--darkModeColor);
  font-size: 18px;
}

.header__nav__right__btns__dark-mode .fa-sun {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-moon {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-sun {
  display: block;
}

@media (max-width: 600px) {
  .header__nav__right__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: var(--secondaryColor);
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 15px var(--hoverColor);
    transition: 0.3s;
    z-index: 9999;
  }

  .header__nav__right__btns__contact {
    display: none;
  }
  .header__nav__right__btns {
    gap: 10px;
  }

  .header__nav__right__btns__hamburger {
    display: flex;
  }

  .show__header__nav__right__list {
    left: 0;
  }

  .header__nav__right__list__close {
    display: block;
  }
}


